.studentdataParent {
    padding-top: 130px;
}

.studentdataParentDiv {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;

}

.titlestylings {
    text-decoration: underline;
}

.flexparent {
    margin-bottom: 30px;
}

.flexchilds {
    width: 397px;
    background-color: white;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px black;

}

table {
    caption-side: top;
}

caption {
    font-weight: bold;
    color: black;
    text-align: center;
}
